body {
    background-image: url("../assets/sydney-herron-EkXAa3HOzRc-unsplash.jpg");
    background-size: auto 100vh;
    background-position: bottom center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    position: absolute;
    right: 0;
    width: 35vw;
    height: 100vh;
    background-color: rgba(255,255, 255, 30%);
    backdrop-filter: blur(9px);
    padding: 0 3em;
    
}
.data-scroll {
    overflow-y: scroll;
    height: 75vh;
}
.title-infos {
    position: absolute;
    left: 4%;
    bottom: 10%;
    display: flex;
    padding: 0 30px;
}

.temperature {
    display: flex;
}

.temperature-logo {
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
}

.title-temperature {
    font-size: 120px;
    margin: 0;
}

.date-city-icon {
    display: flex;
    margin-left: 30px;
    align-self: center;
}

.current-city {
    font-size: 50px;
    margin: 0;
}

.current-date {
    margin: 0;
}

.current-weather {
    margin-left: 30px;
    margin-top: 19px;
    text-align: center;
}

.icon-current-weather {
    width: 50px;
}

.text-current-weather {
    margin: 0;
}

.searching-city {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
    margin-left: 2em;
    width: 70%;
}

h3 {
    font-weight: 500;
    margin-top: 40px;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.weather-description {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.details-infos-box {
    display: flex;
}

.details-sunrise-infos-box {
    display: flex;
}

.details-temp-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details-anenometrie-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details-sunrise-box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.thermometer-icon {
    height: 35px;
    margin-top: 7px;
}

.thermometer-number {
    font-size: 25px;
    margin: 7px 0;
}

.details-text {
    margin-left: 0;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 10px;
}

.humidity-icon {
    height: 40px;
    margin-top: 5px;
}

.table-week {
    width: 100%;
}

.table-categories {
    background: black;
    color: white;
    text-align: center;
}

.table-data {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.loader-background {
    width: 120px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50%);
    border-radius: 50%;
}

.loader-title {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 105px);
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }



@media (min-aspect-ratio: 3/2) {
    body {
        background-size: 100vw auto;
    }
}

@media (max-width: 1450px) {
    .title-infos {
        background-color: rgba(255,255, 255, 30%);
        backdrop-filter: blur(9px);
        padding: 0 3em;
    }
}

@media (max-width: 1350px) {
    .container {
        width: 50vw;
    }
}

@media (max-width: 1150px) {

    body {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

    .title-infos {
        top: 50px;
        height: 120px;
        width: 80vw;
        left: calc(50% - 47vw);
        font-size: 12px;
        backdrop-filter: none;
        background-color: transparent;
        flex-direction: column-reverse;
    }

    .date-city-icon {
        margin: 0 auto;
    }

    .current-date {
        text-align: center;
    }

    .current-city {
        font-size: 40px;
        text-align: center;
    }

    .temperature {
        justify-content: center;
    }

    .temperature-logo {
        margin: 0;
    }

    .title-temperature {
        font-size: 50px;
    }



    .container {
        width: 80vw;
        height: 93vh;
        left: calc(50% - 44.5vw);
        top: 180px;
        padding: 20px;
    }
    
    h3 {
        margin: 0;
        font-size: 15px;
        text-align: center;
    }
    .title-app {
        display: none;
    }

    #position {
        width: 80%;
    }

    .position-text-search {
        display: inline-block;
        text-align: center;
        margin: 0 25%;
    }

    .data-scroll {
        height: 80vh;
    }

    .details-temp-box {
        flex-wrap: wrap;
    }

    #temp-min {
        order:2;
    }

    #temp-max {
        order:4;
        margin-right: 22px;
    }

    .details-anenometrie-box {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .details-sunrise-box {
        flex-direction: column; 
    }

    .details-sunrise-infos-box {
        justify-content: space-evenly;
    }

    .table-week {
        padding-bottom: 20px;
    }

    .table-categories-categorie{
        padding: 0 7px;
    }

}
