body {
    background-image: url("../assets/sydney-herron-EkXAa3HOzRc-unsplash.jpg");
    background-size: auto 100vh;
    background-position: bottom center;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.container {
    position: absolute;
    right: 0;
    width: 35vw;
    height: 100vh;
    background-color: rgba(255,255, 255, 30%);
    backdrop-filter: blur(13px);
    padding: 3em;
    
}

.title-infos {
    position: absolute;
    left: 8%;
    bottom: 2%;
    width: 40vw;
    display: flex;
    
}

.temperature {
    display: flex;
}

.temperature-logo {
    font-size: 40px;
    margin-top: 100px;
}

.title-temperature {
    font-size: 120px;
}

.date-city-icon {
    display: flex;
    margin-left: 30px;
    margin-top: 120px;
}

.current-city {
    font-size: 50px;
    margin: 0;
}

.current-date {
    margin: 0;
}

@media (min-aspect-ratio: 3/2) {
    body {
        background-size: 100vw auto;
    }
}
